

body{
	font-family:trebuchet ms;
	background-image:url("images/BG_4.jpg");
}
#Combi{
	width:960px;
	margin:0 auto 0;
	position:relative;
}
header{
	float:left;
	width:920px;
	height:140px;
	color:white;
	background-color:#004499;
	margin-bottom:7px;
	padding:0 20px 0 20px;
	
}
header h1 {
	text-align:center;
	margin: 45px 20px 0 20px;
	font-style:italic;
}
header img{
	width:80px;
	height:100px;
	background-color:white;
	float:right;
	margin: 20px 20px 0 20px;
	border-style:solid;
	border-width:2px;
	border-color:gray;
}
#hcc{
	width:110px;
	height:100px;
	background-color:white;
	float:right;
	margin: 20px 20px 0 20px;
	border-style:solid;
	border-width:2px;
	border-color:gray;
}
nav{
	float:left;
	width:960px;
	height:40px;
	color:white;
	background-color:#545454;
	margin:0 0 7px 0;
}
nav p{
	margin: 10px 0px 0 0px;
	text-align:center;
}
nav a{
	color:white;
	text-decoration:none;
}
nav a:hover{
	color:#545454;
	text-decoration:none;
	background-color:white;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border:10px solid white;
	font-weight:bold;
	transition-duration:0.4s;
	
}
article{
	width:620px;
	float:left;
	background-color:#444444;
	color:#ffffff;
	padding:0 20px 0 20px;	
}
article h1{
	font-size:35px;
}
article h2{
	text-align:center;
	background-color:#c1c1c1;
	margin: 20px 0 20px;
	padding: 15px 0 15px;
	color:#006699;
	border: solid 2px gray ;
	font-weight:bold;
}
article p{
	text-align:center;
	color:#ffffff;
	font-size:30px;
	
}
#detail_4{
	font-size:20px;
	float:left;
	text-align:center;
}
#detail_3{
	font-size:20px;
	float:right;
	text-align:center;
	
}
#detail_1{
	float:left;
	margin: 20px 30px 10px;
	height:20px;
	width:20px;
	background-color:#cc2900;
	border: solid 2px gray;
}
#detail_2{
	float:right;
	margin: 20px 30px 20px;
	height:20px;
	width:20px;
	background-color:#006699;
	border: solid 2px gray;
	
}
article section {
	float: left;
	width: 580px;
	background-color:#565656;
	margin: 0 0 10px 0;
	padding:0 20px 0 20px;
	color:white;
	border-width:2px;
	border-color:#545454;
	border-style:solid;
	
}
#grafic{
	width: 580px;
	background-color:#565656;
	margin: 0 0 10px 0;
	padding:0 20px 0 20px;
	color:#006699;
	border-width:2px;
	border-color:#545454;
	border-style:solid;
	
}
article section div{
	
	height:60px;
	width:70px;
	float:left;
	margin: 10px 10px 10px 12.5px;
	border-width:2px;
	border-style:solid;
	border-color:gray;
	color:black;
	text-align:center;
	padding:10px 0 0 0; 
	font-size:30px;
}
aside {
	float: left;
	width: 255px;
	background-color:#444444;
	margin-left:5px;
	padding:0 10px 0 30px;
	color:#ffffff;
}
aside section{
	float:left;
	width:220px;
	background-color:#c1c1c1;
	margin:0 0px 10px 0px;
	height:35px;
	color:#006699;
	text-align:center;
	font-style:solid;
	border-width:2px;
	border-style:solid;
	border-color:#545454;
	font-size:20px;
	font-family:georgia;
	font-weight:lighter;
	padding:15px 0 0 0; 
}
aside a section :hover{
	color:black;
	transition-duration:0.5s;
}
footer{
	float:left;
	width:920px;
	color:white;
	height:30px;
	background-color:#444444;
	padding:10px 20px 0 20px;
	text-align:right;
	margin: 150px 0 0 0;
	font-style:italic;
}
h1,h2,h3,h4,h5,h6{
	font-family: georgia; 
	font-weight: lighter;
}